# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
a.out

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.eggs/

# Eclipse project files
.project
.cproject
*.pydevproject
.metadata
.gradle
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.buildpath
.externalToolBuilders/
*.launch
.target
.texlipse
.ptp-sync
.ptp-sync-folder

# Misc
*~
.DS_Store
benchmarks
*.cobaltlog
*.output
*.error
*.
system
e4s_cl/tags
/docs/build
/e4s-cl-*

# Python coverage data
.coverage

# Python packaging files
# general things to ignore
/VERSION
/COMMIT
/build
/dist

packages/*.sh
packages/*.tgz
packages/*.tar.*
packages/*.zip
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~
.tox
.cache

# Deployment private and public key, but DO store encrypted private key for Travis-CI
id_rsa_Travis2GH
id_rsa_Travis2GH.pub

/wi4mpi

e4s_cl/version.py
