.citation-list {
  font-size: .8rem; }
  .citation-list .label {
    font-weight: bold; }
  .citation-list p {
    font-style: italic; }

dl.option-list kbd, dl.simple kbd {
  border: unset;
  font-size: 1rem; }

p code.literal {
  border: unset; }
